@model IEnumerable<NGO.DB.Food>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>



<div>
    <table class="table">

        <thead>
            <tr>
                <td>id</td>
                <td>Food</td>
                <td>Date</td>
                <td>Resturant name</td>
                <td>Location</td>
                <td>Quantity</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @foreach (var it in Model)
        {
            <tr>
                <td>@it.id</td>
                <td>@it.Fname</td>
                <td>@it.Date</td>
                <td>@it.ResturantName</td>
                <td>@it.Location</td>
                <td>@it.Quantity</td>
                <td>
                    <a href="/Doner/Edit/@it.id" class="btn btn-success "><i class="bi-pencil-square"></i>Edit</a>
                    <a href="/Doner/Delete/@it.id" class="btn btn-danger "><i class="bi bi-trash"></i>Delete</a>

                </td>


            </tr>
        }

    </table>
</div>